.card{
    width: 660px;
    height: 168px;
}
.mb-3{
    position: center;
}

:host ::ng-deep {
    .product-item {
        .product-item-content {
            border: 1px solid var(--surface-d);
            border-radius: 3px;
            margin: .3rem;
            text-align: center;
            padding: 2rem 0;
        }
    
        .product-image {
            width: 50%;
            
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }
    }
}
img{
    margin: 5px;
    width: 160px;
    height: 100px;
    border: 0px;
    border-radius: 16px;
}

:host::ng-deep .p-carousel .p-carousel-indicators{
    display: none;
}

.mb-1{
    margin-left: 10px;
    color: #FFF;
    width: 140px;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}