<main>

  <section class="section1">
    <app-header-1></app-header-1>
    <app-header-3></app-header-3>
  </section>
  <section>
    <div class ="container">
      <app-section2></app-section2>
    </div>
  </section>
  <section>
    <div class ="container">
      <app-section3></app-section3>
    </div>
  </section>
  <section>
    <div class ="container">
      <app-section4></app-section4>
    </div>
  </section>
  <section>
    <div class ="container">
      <app-section5></app-section5>
    </div>
  </section>

  <section class="section6">
    <div class ="container">
      <app-compforsection6></app-compforsection6>
    </div>
  </section>

  <footer class ="footerstyle">
    <app-compforfooter></app-compforfooter>
  </footer>
  

</main>